<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <button ion-item (click)="selectRoutes()">
          Select Route
          <ion-badge item-right>{{route}}</ion-badge>
        </button>
        <button *ngIf="route" ion-item (click)="selectDirection()">
          Select Direction
          <ion-badge item-right>{{direction}}</ion-badge>
        </button>
        <button *ngIf="direction" ion-item (click)="selectStop()">
          Select Stop
        </button>
      </ion-list>
    </ion-card-content>

  </ion-card>

  <ng-template [ngIf]="stop">
    <ion-card *ngFor="let prediction of predictions">
      <ion-card-header>
        <h2 text-wrap>{{stop.title}}</h2>
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let value of prediction.values | slice:0:3" text-wrap>
          {{ value.seconds | relativeSeconds }} - {{ value.branch }}
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <button ion-button small full>
                <ion-icon name="bookmarks"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button small (click)="sendSMS()" full>
              <ion-icon name="text"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button small (click)="getStopPrediction()" full>
                <ion-icon name="refresh-circle"></ion-icon>
                </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>