<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <button ion-item (click)="selectRoutes()">
          Select Route
          <ion-badge item-right>{{route}}</ion-badge>
        </button>
        <button *ngIf="route" ion-item (click)="selectDirection()">
          Select Direction
          <ion-badge item-right>{{direction}}</ion-badge>
        </button>
        <button *ngIf="direction" ion-item (click)="selectDirection()">
          Select Stop
          <ion-badge item-right>test</ion-badge>
        </button>
      </ion-list>
    </ion-card-content>

  </ion-card>
</ion-content>